#
# Licensed to the Apache Software Foundation (ASF) under one or more
# contributor license agreements.  See the NOTICE file distributed with
# this work for additional information regarding copyright ownership.
# The ASF licenses this file to You under the Apache License, Version 2.0
# (the "License"); you may not use this file except in compliance with
# the License.  You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#

[mysql]

[mysqld]
log-error=/var/lib/mysql/mysql.err
default_authentication_plugin=mysql_native_password
max_connections=50000
server_id = 101
gtid_mode = ON
enforce_gtid_consistency = ON
master_info_repository = TABLE
relay_log_info_repository = TABLE
binlog_checksum = NONE
log_slave_updates = ON
log_bin = binlog
binlog_format= ROW
transaction_write_set_extraction = XXHASH64
loose-plugin_load_add = 'group_replication.so'
loose-group_replication_group_name = '558edd3c-02ec-11ea-9bb3-080027e39bd2'
loose-group_replication_start_on_boot = OFF
loose-group_replication_local_address = 'mysql_2:10002'
loose-group_replication_group_seeds = 'mysql_1:10001,mysql_2:10002,mysql_3:10003,mysql_4:10004'
loose-group_replication_bootstrap_group = OFF
loose-group_replication_ip_whitelist = 'mysql_1, mysql_2, mysql_3, mysql_4'
report_host = mysql_2
report_port = 3306