<?xml version="1.0"?>
<configuration>
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>[%-5level] %d{HH:mm:ss.SSS} [%thread] %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>
    <logger name="com.dangdang" level="error" additivity="false">
        <appender-ref ref="console"/>
    </logger>
    <logger name="com.dangdang.ddframe.rdb.sharding.metrics" level="info" additivity="false">
        <appender-ref ref="console"/>
    </logger>
    <logger name="org.dbunit" level="info" additivity="false">
        <appender-ref ref="console"/>
    </logger>
    <root>
        <level value="error" />
        <appender-ref ref="console" />
    </root>
</configuration> 
