#
# Licensed to the Apache Software Foundation (ASF) under one or more
# contributor license agreements.  See the NOTICE file distributed with
# this work for additional information regarding copyright ownership.
# The ASF licenses this file to You under the Apache License, Version 2.0
# (the "License"); you may not use this file except in compliance with
# the License.  You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#

# This workflow will build a Java project with Maven
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-maven

name: Continuous Integration

on:
  push:
    branches: [ master, dev ]
    paths:
      - '.github/workflows/ci.yml'
      - '**/pom.xml'
      - 'src/resources/**'
      - '**/src/main/**'
      - '**/src/test/**'
      - '!shardingsphere-distribution/**'
      - '!shardingsphere-test/shardingsphere-integration-*/**'
      - 'shardingsphere-test/shardingsphere-integration-driver-test/**'
      - '!*.md'
  pull_request:
    branches: [ master ]
    paths:
      - '.github/workflows/ci.yml'
      - '**/pom.xml'
      - 'src/resources/**'
      - '**/src/main/**'
      - '**/src/test/**'
      - '!shardingsphere-distribution/**'
      - '!shardingsphere-test/shardingsphere-integration-*/**'
      - 'shardingsphere-test/shardingsphere-integration-driver-test/**'
      - '!*.md'
  repository_dispatch:
    types: [rerun-ci]

concurrency:
  group: ${{ github.event_name }}-${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

env:
  MAVEN_OPTS: -Dhttp.keepAlive=false -Dmaven.wagon.http.pool=false -Dmaven.wagon.http.retryHandler.class=standard -Dmaven.wagon.http.retryHandler.count=3 -Dcheckstyle.skip=true -Drat.skip=true

jobs:
  linux:
    name: JDK ${{ matrix.java_version }} - on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    timeout-minutes: 60
    strategy:
      matrix:
        os: [ ubuntu-latest ]
        java_version: [ 8, 17, 19 ]
    steps:
      - uses: actions/checkout@v3
      - name: Set up JDK ${{ matrix.java_version }}
        uses: actions/setup-java@v2
        with:
          distribution: 'temurin'
          java-version: ${{ matrix.java_version }}
      - name: Maven resolve ranges
        run: ./mvnw versions:resolve-ranges -ntp -Dincludes='org.springframework:*,org.springframework.boot:*'
      - name: Cache Maven Repos
        uses: actions/cache@v2
        with:
          path: ~/.m2/repository
          key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
          restore-keys: |
            ${{ runner.os }}-maven-
      - name: Build with Maven
        run: ./mvnw -B -ntp clean install -Dmaven.javadoc.skip=true -Djacoco.skip=true -Dspotless.apply.skip=true
      - name: Build examples with Maven
        run: ./mvnw -B -f examples/pom.xml clean package -DskipTests
  
  
  shardingsphere-example-generator:
    name: ShardingSphere example generator
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Maven resolve ranges
        run: ./mvnw versions:resolve-ranges -ntp -Dincludes='org.springframework:*,org.springframework.boot:*'
      - name: Cache Maven Repos
        uses: actions/cache@v2
        with:
          path: ~/.m2/repository
          key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
          restore-keys: |
            ${{ runner.os }}-maven-
      - name: Set up JDK 8
        uses: actions/setup-java@v2
        with:
          distribution: 'temurin'
          java-version: 8
      - name: Build Project
        run: ./mvnw -B -ntp clean install -Dmaven.javadoc.skip=true -DskipITs -DskipTests -Dspotless.apply.skip=true
      - name: Run Example generator
        run: ./mvnw -B test -f examples/shardingsphere-example-generator/pom.xml -Pexample-generator

  test-coverage-report:
    if: github.repository == 'apache/shardingsphere'
    runs-on: ubuntu-latest
    name: ShardingSphere test coverage report
    steps:
      - uses: actions/checkout@v3
      - name: Cache Maven Repos
        uses: actions/cache@v2
        with:
          path: ~/.m2/repository
          key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
          restore-keys: |
            ${{ runner.os }}-maven- 
      - name: Set up JDK 8
        uses: actions/setup-java@v2
        with:
          distribution: 'temurin'
          java-version: 8
      - name: Test with Maven
        run: ./mvnw -B -ntp clean install cobertura:cobertura -Dmaven.javadoc.skip=true
      - name: Upload to Codecov
        run: bash <(curl -s https://codecov.io/bash)
