#
# Licensed to the Apache Software Foundation (ASF) under one or more
# contributor license agreements.  See the NOTICE file distributed with
# this work for additional information regarding copyright ownership.
# The ASF licenses this file to You under the Apache License, Version 2.0
# (the "License"); you may not use this file except in compliance with
# the License.  You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#

name: CI

on:
  pull_request:
    branches: [ master ]
    paths:
      - '.github/workflows/ci.yml'
      - '**/pom.xml'
      - '**/src/main/**'
      - '**/src/test/**'
      - '!distribution/**'
      - 'test/it/**'
      - '!test/e2e/**'
      - 'test/e2e/driver/**'
      - '!*.md'
  repository_dispatch:
    types: ci-completed
  workflow_dispatch:

concurrency:
  group: ci-${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

env:
  MAVEN_OPTS: -Dhttp.keepAlive=false -Dmaven.wagon.http.pool=false -Dmaven.wagon.http.retryHandler.class=standard -Dmaven.wagon.http.retryHandler.count=3 -Dspotless.apply.skip=true

jobs:
  global-environment:
    name: Import Global Environment
    uses: ./.github/workflows/required-reusable.yml

  ci:
    name: CI
    if: github.repository == 'apache/shardingsphere'
    needs: global-environment
    runs-on: ubuntu-latest
    timeout-minutes: 30
    steps:
      - uses: actions/checkout@v6.0.1
      - name: Setup JDK for Build
        uses: actions/setup-java@v5.1.0
        with:
          distribution: 'temurin'
          java-version: 17
      - uses: actions/cache@v5.0.1
        with:
          path: |
            ~/.m2/repository
            !~/.m2/repository/org/apache/shardingsphere
            ~/.m2/repository/org/apache/shardingsphere/elasticjob
          key: apache-shardingsphere-maven-third-party-${{ hashFiles('**/pom.xml') }}
          restore-keys: |
            apache-shardingsphere-maven-third-party-
      - name: Build Project with Maven
        run: ./mvnw clean install -B -ntp -DskipTests -T1C
      - name: Setup JDK for Test
        uses: actions/setup-java@v5.1.0
        with:
          distribution: 'temurin'
          java-version: 17
      - name: Run Tests
        run: ./mvnw install -T1C -B -ntp -fae
