#
# Licensed to the Apache Software Foundation (ASF) under one or more
# contributor license agreements.  See the NOTICE file distributed with
# this work for additional information regarding copyright ownership.
# The ASF licenses this file to You under the Apache License, Version 2.0
# (the "License"); you may not use this file except in compliance with
# the License.  You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#

name: E2E - SQL

on:
  pull_request:
    branches: [ master ]
    paths:
      - '.github/workflows/e2e-sql.yml'
      - '**/pom.xml'
      - '**/src/main/**'
      - '!examples/**'
      - '!distribution/**'
      - 'distribution/proxy/**'
      - '!distribution/proxy/src/main/release-docs/**'
      - '!kernel/data-pipeline/**'
      - '!test/**'
      - 'test/pom.xml'
      - 'test/e2e/fixture/**'
      - 'test/e2e/env/**'
      - 'test/e2e/sql/**'
      - '!*.md'
  workflow_dispatch:

concurrency:
  group: e2e-${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

env:
  MAVEN_OPTS: -Dhttp.keepAlive=false -Dmaven.wagon.http.pool=false -Dmaven.wagon.http.retryHandler.class=standard -Dmaven.wagon.http.retryHandler.count=3 -Dspotless.apply.skip=true
  SEGMENT_DOWNLOAD_TIMEOUT_MINS: 1

jobs:
  global-environment:
    name: Import Global Environment
    uses: ./.github/workflows/required-reusable.yml

  build-e2e-image:
    name: Build E2E Image
    if: github.repository == 'apache/shardingsphere'
    needs: global-environment
    runs-on: ubuntu-latest
    timeout-minutes: 40
    steps:
      - uses: actions/checkout@v6.0.1
      - uses: actions/setup-java@v5.1.0
        with:
          distribution: 'temurin'
          java-version: 17
      - uses: actions/cache@v5.0.1
        with:
          path: |
            ~/.m2/repository
            !~/.m2/repository/org/apache/shardingsphere
            ~/.m2/repository/org/apache/shardingsphere/elasticjob
          key: apache-shardingsphere-maven-third-party-e2e-cache-${{ github.sha }}
          restore-keys: |
            apache-shardingsphere-maven-third-party-e2e-cache-
            apache-shardingsphere-maven-third-party-
      - name: Build E2E Image
        run: ./mvnw -B clean install -am -pl test/e2e/sql -Pe2e.env.docker -DskipTests -Dspotless.apply.skip=true
      - name: Save E2E Image
        run: docker save -o /tmp/apache-shardingsphere-proxy-test.tar apache/shardingsphere-proxy-test:latest
      - uses: actions/upload-artifact@v4
        with:
          name: e2e-image
          path: /tmp/apache-shardingsphere-proxy-test.tar
          retention-days: 10
  
  e2e-sql:
    name: E2E - SQL
    needs: [ build-e2e-image, global-environment ]
    if: github.repository == 'apache/shardingsphere'
    runs-on: ubuntu-latest
    timeout-minutes: 40
    strategy:
      max-parallel: 15
      fail-fast: false
      matrix:
        adapter: [ proxy, jdbc ]
        mode: [ Standalone, Cluster ]
        database: [ MySQL, PostgreSQL ]
        scenario: [ empty_rules, distsql_rdl, passthrough, db, tbl, encrypt, readwrite_splitting, shadow, mask, dbtbl_with_readwrite_splitting, dbtbl_with_readwrite_splitting_and_encrypt, sharding_and_encrypt, encrypt_and_readwrite_splitting, encrypt_shadow, readwrite_splitting_and_shadow, sharding_and_shadow, sharding_encrypt_shadow, mask_encrypt, mask_sharding, mask_encrypt_sharding, db_tbl_sql_federation ]
        additional-options: [ '' ]
        include:
          - adapter: proxy
            database: MySQL
            scenario: passthrough
            additional-options: '-Dmysql-connector-java.version=8.3.0'
        exclude:
          - adapter: jdbc
            scenario: passthrough
          - adapter: jdbc
            mode: Cluster
          - adapter: proxy
            mode: Standalone
            scenario: empty_rules
          - adapter: proxy
            mode: Standalone
            scenario: distsql_rdl
          - adapter: proxy
            mode: Standalone
            scenario: passthrough
    steps:
      - uses: actions/checkout@v6.0.1
      - uses: actions/cache@v5.0.1
        with:
          path: |
            ~/.m2/repository
            !~/.m2/repository/org/apache/shardingsphere
            ~/.m2/repository/org/apache/shardingsphere/elasticjob
          key: apache-shardingsphere-maven-third-party-e2e-cache-${{ github.sha }}
      - uses: actions/setup-java@v5.1.0
        with:
          distribution: 'temurin'
          java-version: 17
      - name: Download E2E Image
        if: matrix.adapter == 'proxy'
        uses: actions/download-artifact@v4
        with:
          name: e2e-image
          path: /tmp/
      - name: Load E2E Image
        if: matrix.adapter == 'proxy'
        run: docker load -i /tmp/apache-shardingsphere-proxy-test.tar
      - name: Run E2E Test
        run: ./mvnw -nsu -B install -f test/e2e/sql/pom.xml -Dspotless.apply.skip=true -De2e.run.type=DOCKER -De2e.artifact.modes=${{ matrix.mode }} -De2e.artifact.adapters=${{ matrix.adapter }} -De2e.run.additional.cases=false -De2e.scenarios=${{ matrix.scenario }} -De2e.artifact.databases=${{ matrix.database }} ${{ matrix.additional-options }}
